<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Bops of 2010</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
  <div>
    <a href="/topBops">Number 1 Hits</a>
    <a href="/artist">Sort by Artist</a>
    <a href="/jb">JB Bops</a>
    <a href="/nonexplicit">Wholesome Bops</a>
    <a href="/collabs">Collaborations</a>
  </div>
</div>

<body>
  <form method="GET" action="/addBop"> <button>Enter a Bop</button> </form>
  <input id="search" type = "text">
  <article>
  {{{body}}}
  </article>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>

  </script>
</body>

</html>
