<p>Add a bop</p>

<form method="POST" action="/addBop">

<div class = "input">
  <label>Title:</label>
  <input type="text" name="title">
</div>

<div class = "input">
  <label>Artists:</label>
  <input type="text" name="artists">
</div>

<div class = "input">
  <label>Chart:</label>
  <input type="text" name="chart">
</div>

<div class = "input">
  <label>Video:</label>
  <input type="text" name="video">
</div>

<div class = "input">
  <label>explicit:</label>
  <input type="checkbox" name="explicit">
</div>

<button type="submit"> SUbmit! </button>

</form>
